<% @listings.each do |listing| %>
  <a href="/listings/<%=listing.id%>"><%= listing.title %><br /></a>
  $ <%= listing.price %><br />
  <%= listing.location %><br />
  <%= listing.description %><br />
  <br />
<% end %>
