<h2> My Listings: </h2>

<% @listings.each_with_index do |listing, index| %>
  <% if index > 0 %><p>---</p><%end%>
  <a href="/listings/<%=listing.id%>"><%= listing.title %></a> - $<%= listing.price %> - <a href="/listings/<%=listing.id%>/edit">(edit)</a> <br />
  <%= listing.location %><br />
  <%= listing.description %><br />
<% end %>
