<%= @listings.title %> - $<%= @listings.price %> - <a href="/listings/<%=@listings.id%>/edit">(edit)</a><br />
<%= @listings.location %><br />
<%= @listings.description %><br />
Posted by: <%= @user.username %>
