<!doctype html>
<html>
  <head>
    <title>Get Rid Of It</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li class="<%= "active" if active_page?("listings/new") %>"><a href="/listings/new"> Create a Listing</a></li>
          <li class="<%= "active" if active_page?("") %>"><a href="/"> Listings</a></li>
          <li class="<%= "active" if active_page?("listings") %>"><a href="/listings"> My Listings</a></li>
          <li><a href="/logout"> Log Out</a></li>
        <% else %>
          <li class="<%= "active" if active_page?("") %>"> <a href="/">Home</a></li>
          <li class="<%= "active" if active_page?("signup") %>"> <a href="/signup">Sign Up</a></li>
          <li class="<%= "active" if active_page?("login") %>"> <a href="/login"> Sign In </a></li>
        </ul>
        <%end %>
      </ul>
        <% if logged_in? %>
      <p class="navbar-text navbar-right" style ="margin-right: 15px;"> Welcome, <%=current_user.username %></p>
      <% end %>
    </nav>
<div class="container">
  <% if !@yellow_message.nil? %>
    <div class="alert alert-warning">
    <%= @yellow_message %>
    </div>
  <% end %>
  <% if !@red_message.nil? %>
    <div class="alert alert-danger">
    <%= @red_message %>
    </div>
  <% end %>
  <% if !@green_message.nil? %>
    <div class="alert alert-success">
    <%= @green_message %>
    </div>
  <% end %>
  <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><%= yield %></div>
        <div class="col-md-2"></div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
